torch==2.9.0
transformers==5.12.1
compressed-tensors==0.14.0
accelerate==1.12.0
datasets==4.6.0
auto-round==0.10.2
numpy==2.2.6
pillow==10.4.0
loguru==0.7.3
pyyaml==6.0.2
tqdm==4.67.1
requests==2.32.5
nvidia-ml-py==13.590.48
qwen-vl-utils==0.0.14
torchvision==0.24.0
omegaconf==2.3.1
safetensors==0.7.0
huggingface-hub==1.21.0
